<%= form_with(model: repository, local: true) do |form| %>
  <% if repository.errors.any? %>
    <ul>
      <% repository.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select(:user_id, User.all, :id, :email) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
