
<div class="this-is-share-repo-navebar public"> 

  <div>
    <%= render "shared/repo_navbar"%>
  </div>

  <div class="container">

      <div class="git-feature-bar col-12">
        <ul class="nav">
          <%= link_to branches_path(user_name: find_user.name, id: @repository.id), class: "nav-link mx-auto" do %>
            <i class="fas fa-code-branch"></i> <span> Branches </span> <%= @branches.count %>
          <% end %>
          <%= link_to commits_path(user_name: find_user.name, id: @repository.id), class: "nav-link mx-auto" do %>
            <i class="fas fa-dot-circle"></i> <span> Commits </span> <%= @commits %>
          <% end %>
          <div class="nav-link mx-auto">
            <i class="fas fa-user-friends"></i> <span> Contributors </span> <%= @contributors.count %>
          </div>
        </ul>
      </div>
      
      
      <div class="current-branch">
          <i class="fas fa-code-branch"></i> Current Branch : <%= @current_branch %>
      </div>
      <% @pull_request_able.each do |branch| %>
        <% if find_user == current_user%>
          <div class="w-100 other-branch">Create a pull request <%= link_to "#{branch}", new_repository_pull_request_path(repository_id: current_repository.title ,branch: branch) %> ? </div>
        <% end %>
      <% end %>
      
      <div class="show-content col-8">
      
      </div>
      <div class="btn-copy file-btn">

          <button class="btn code-file-btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Clone or Download
          </button>

        <div class="collapse down" id="collapseExample">
          <div class="card card-body col-8">
            <h3>Clone with SSH</h3> 
            <p>Use a password protected SSH key.</p>
            <div class="row">
              <div class="collapse-title col-8">
                <input id="copyLink" class="copyLink col-12" value= "root@128.199.107.166:<%= @repository.user.name %>/<%= @repository.title %>">
              </div>
              <div class="collapse-btn col-3">
                <button class="btn code-file-btn" type="button"data-clipboard-target="#copyLink">Copy</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


