
<div class="this-is-share-repo-navebar public"> 

<div>
  <%= render "shared/repo_navbar"%>
</div>
</br>
<div class="container">
  <div class="row">
    <div class="git-feature-bar col-12">
      <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-code-branch"></i> <%= @branches.count %> Branches</a>
          <div class="dropdown-menu">
            <% @branches.each do |branch| %>
              <%= link_to "#{branch.name}", branch_path(user_name: find_user.name, id: @repository.id, branch: branch.name), class: "dropdown-item branch-item", method: "GET"%>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
    <div class="show-content col-8">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Title:</strong>
        <%= @repository.title %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @repository.description %>
      </p>

      <p>
        <strong>User:</strong>
        <%= @repository.user.name %>
      </p>
    </div>
    <div class="btn-copy col-4">
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Clone or Download
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <h3>Clone with SSH</h3> 
          <p>Use a password protected SSH key.</p>
          <div class="row">
            <div class="collapse-title col-8">
              <input id="copyLink" class="copyLink" value= "root@128.199.107.166:<%= @repository.user.name %>/<%= @repository.title %>">
            </div>
            <div class="collapse-btn col-4">
              <button class="btn btn btn-primary" data-clipboard-target="#copyLink">Copy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<%= link_to 'Back', repositories_path %>

