<!-- dir.html.erb -->
<%= render "show"%>
<div class="dir-container">
  <table class="table">

		<thead class="thead-light">
			<tr>
				<th>
					Folders
				</th>
			</tr>
		</thead>

		<% dirs.each do |dir| %>
			<tr>
				<td class="d-flex">
					<div class="col-3">
						<i class="fas fa-folder" style="color: rgba(255,255,255,.5)"></i>
						<a href="/<%= repository.user.name %>/repositories/<%= repository.title %>/worktree/master/<%= dir[0] %>" style="color: rgba(255,255,255,1)"> <%= dir[0].match(/^.+\/(.+)$/)[1] %> </a>
					</div>
					<div class="col-7" style="color: rgba(255,255,255,.5)">
						<%= dir[1]%>
					</div>
					<div class="col-2" style="color: rgba(255,255,255,.5)">
						<%= dir[2]%>
					</div>
				</td>
			</tr>
		<% end %>

		<% files.each do |file| %>
			<tr>
				<td class="d-flex">
					<div class="col-3">
						<i class="far fa-file-alt" style="color: rgba(255,255,255,.5)"></i>
						<a href="/<%= repository.user.name %>/repositories/<%= repository.title %>/worktree/master/<%= file[0] %>" style="color: rgba(255,255,255,1)"> <%= file[0].match(/^.+\/(.+)$/)[1] %> </a>
					</div>
					<div class="col-7" style="color: rgba(255,255,255,.5)">
						<%= file[1]%>
					</div>
					<div class="col-2" style="color: rgba(255,255,255,.5)">
						<%= file[2]%>
					</div>
				</td>
			</tr>
		<% end %>
  </table>

	<% if @readme.present? %>
		<%= render partial: 'README', locals: {file_datas: @lines} %>
	<% end %>

</div>

