<div class="logged-in-my-repo public">


      <div class="container my-5">
        <div class="row">
          <div class="user-info-container col-12 col-md-3">
            <div class="avatar-wrap">
              <% if find_user.image? %>
                  <%= image_tag(find_user.image_url) %>
              <% else %>
                  <img src="https://images.plurk.com/43tXxZ1MP3bwW7lyZbunAy.png">
              <% end %>
            </div>
            <h4 class="my-2 user-name">Name：<%= find_user.name %></h4>
            <p class="my-2 user-id">ID：<%= find_user.id %></p>
          </div>
          <div class="repositories-container col-12 col-md-9 row p-3">
            <div class="repositories-title col-12">
              <ul class="nav">
                <li class="nav-item mx-3">
                  <%= link_to "Overview", logged_in_path(user_name: find_user.name), class: "nav-link"%>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to "Repositories #{find_user.repositories.count}", repositories_path, class: "nav-link the-bottom" %>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to "Following #{find_user.following_users.count}", relationships_path(user_name: find_user.name), class: "nav-link" %>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to "Followers #{find_user.followers.count}", followers_path(user_name: find_user.name), class: "nav-link" %>
                <li class="nav-item mx-3">
                  <%= link_to "Stars #{find_user.liked_repositories.count}", likes_path(user_name: find_user.name), class: "nav-link" %>
                </li>
              </ul>
              <div class="line">
                <div class="title-bottom-line"></div>
              </div>
            </div>

            <form class="form-inline my-3 lg-0 col-12 repo-search">
              <%= form_tag repositories_path, method: :get do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search..." , class:"repo-search col-10" %>
              <button class="btn btn-outline my-2 my-sm-0 ml-5 repo-btn" type="submit"><i class="fas fa-search"></i></button>
              <% end %>
            </form>

            <% @repositories.each do |repo|%>
              <div class="p-3 col-12">
                <div class="repositories-repository-wrap p-5 row project-block">
                  <div class="col-10">
                    
                    <h4>
                      <%= link_to "#{repo.title}", repository_path(id: repo)%>
                    </h4>
                    <div>
                      Create <%= time_ago_in_words(repo.created_at) %> ago
                    </div>
                  </div>

                  <% if current_user.liked_repositories.find_by(id: repo.id).nil? %>
                    <%= link_to repository_likes_path(repository_id: repo), class: "star-container", method: "POST" do %>
                      <div class="star">
                        <i class="far fa-star"></i><span> <%= repo.likes.count %> </span>
                      </div>
                    <% end %>
                  <% else %>
                    <%= link_to repository_like_path(repository_id: repo, id: current_user.liked_repositories.find_by(id: repo.id), repo_id: repo.id), class: " star-container", method: "DELETE" do %>
                      <div class="star">                      
                        <i class="fas fa-star"></i><span>  <%= repo.likes.count %> </span>
                      </div>
                    <% end %>
                  <% end %>

                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>


</div>

