<div class="logged-in-my-repo public">


      <div class="container my-5">
        <div class="row">
          <div class="user-info-container col-12 col-md-3">
            <div class="avatar-wrap">
              <% if @user.image? %>
                  <%= image_tag(@user.image_url) %>
              <% else %>
                  <img src="https://images.plurk.com/43tXxZ1MP3bwW7lyZbunAy.png">
              <% end %>
              <%#= image_tag(current_user.image_url) if current_user.image? %>
            </div>
            <h4 class="my-2 user-name"><i class="far fa-smile"></i> NAME：<%= find_user.name %></h4>
            <p class="my-2 user-id">ID：<%= find_user.id %></p>
          </div>
          <div class="repositories-container col-12 col-md-9 row p-3">
            <div class="repositories-title col-12">
              <ul class="nav">
                <li class="nav-item">
                  <%= link_to "Overview", logged_in_path(user_name: find_user.name), class: "nav-link"%>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to "Repositories", repositories_path, class: "nav-link" %>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to "Following", relationships_path(user_name: find_user.name), class: "nav-link" %>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to "Followers", followers_path(user_name: find_user.name), class: "nav-link" %>
                <li>
                  <%= link_to "Stars", likes_path(user_name: find_user.name), class: "nav-link" %>
                </li>
              </ul>
            </div>
            <div class="title-bottom-line"></div>
              <form class="form-inline my-3 lg-0 col-12">
                <%= form_tag repositories_path, method: :get do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search..." , class:"repo-search col-10" %>
                <button class="btn btn-outline-success my-2 my-sm-0 ml-5 " type="submit"><i class="fas fa-search"></i></button>
                <% end %>
              </form>
            <% @repositories.each do |repo|%>
              <div class="p-3 col-12">
                <div class="repositories-repository-wrap p-5 row">
                  <div class="col-10">
                    <h2>
                      <%= link_to "#{repo.title}", repository_path(id: repo)%>
                    </h2>
                    <div>
                      <%= repo.created_at%>
                    </div>
                  </div>
                  <div class="col-2">
                    <i class="far fa-star"></i>
                  </div>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>


</div>

