<%= render "shared/repo_navbar"%>
<%= render "shared/pull_request_bar"%>



<div class="timeline-group mt-5">
  <% @commits.each do |commit|%>
  <div class="timeline-container container">
    <div class="row">
      <div class="col-md-12">
        <ul class="timeline-history list-group list-group-flush">
          <li>
            <div class="row list-item title">
              <p><%= commit.committer.name %></p>
              <p><%= time_ago_in_words(commit.date.utc) %>ago</p>
            </div>
              <div class="row list-item number">
                <p class="p-message col-10"><%= commit.message %></p>
                <p class="p-commit col-2"><%= commit.sha[0..7] %></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <% end %>
</div>