<%= render "shared/repo_navbar"%>
<%= render "shared/pull_request_bar"%>

  
      


<% @commits.each do |commit|%>
  <div class="container">
    <table class="commit-list table table-dark">
      <tbody> 
        <tr>
          <div class="row"> 
            <div class="col-12">
              <td><%= commit.committer.name %></td>
            </div>
            <div class="col-6">
              <td><%= commit.message %></td>
            </div>
            <div class="col-3">
              <td><%= time_ago_in_words(commit.date.utc) %></td>
            </div>
            <div class="col-2">
              <td><%= commit.sha[0..7] %></td>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>