<%= render "shared/repo_navbar"%>
<%= render "shared/pull_request_bar"%>

  
      



  <% @commits.each do |commit|%>

  <div class="timeline-container container">
    <div class="row">
      <div class="col-md-10">
        <ul class="timeline-history list-group list-group-flush">
          <li>
            <div class="row list-item title">
              <p><%= commit.committer.name %></p>
              <p><%= time_ago_in_words(commit.date.utc) %>ago</p>
            </div>
              <div class="row list-item number">
                <p><%= commit.message %></p>
                <p><%= commit.sha[0..7] %></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <% end %>