
<div class="diff">
  <div>
    <%= render "shared/repo_navbar"%>
  </div>
  <div>
  	<%= link_to "Create Pull Request", new_repository_pull_request_path(user_name: find_user.name, base_branch: @base_branch, compare_branch: @compare_branch), class: "btn btn-primary" %>
  </div>
  <div>
  	<% @diff_files.each do |diff_file| %>
  	  <div class="file-name">
        <%= diff_file[:file_name] %>
      </div>
      <div class="mode">
        <%= diff_file[:mode] %>
      </div>  
      <div class="code-block">
        <% diff_file[:code].each do |block| %>
          <div class="block-title">
            <%= block[0] %>
          </div>
          <div>
            <% block[1].each do |line| %>
              <div class="<%= line[0] %>">
                <%= line[1] %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
  	 <br>
  	<% end %>
  </div>
</div>
