<div>
  <%= render "shared/repo_navbar"%>
</div>
<% if @pull_request.errors.any? %>
  <ul>
    <% @pull_request.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for([:repository, @pull_request]) do |form|%>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>