<div class="pull-request public">
  
    <div>
      <%= render "shared/repo_navbar"%>
    </div>

    <div class="row col-12 fome-inline my-2 my-lg-0 issue-show repo-search">
      <input
        class="form-control mr-sm-2 col-9"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      </form>

      <div class="new-pr col-3">
        <%= link_to "New pull request", compare_repository_pull_requests_path , class: "btn col-12" %>
      </div>
    </div>

    <div class="my-5">
      <div class="issue-title row p-2 open">
        <div class="description-title col-4"><%= @pull_requests.where(status: "Open").length %> Records</div>
        <div class="status-title col-7">
           <i class="fas fa-lock-open"></i> 
           <%= link_to "Open #{@pull_requests.where(status: "Open").length}", repository_pull_requests_path(user_name: find_user.name, id: current_repository.title) %> 
            | 
           <i class="fas fa-lock"></i> 
           <%= link_to "Close #{@pull_requests.where(status: ["Close", "Merged"]).length}", close_index_repository_pull_requests_path(user_name: find_user.name, id: current_repository.title)%>
        </div>
      </div>
      <% if @pull_requests.present? %>
        <% @pull_requests.where(status: "Open").each do |pull_request| %>
        <div class="container">
          <div class="row the-tr">
            <div class="col-4 mt-2 content"><%= pull_request.status%></div>
            <div class="col-6 row"> 
            <%= link_to pull_request.name,repository_pull_request_path(id: pull_request.id),class: "col-12 issue-name" %>        
              <p class="col-12 ago">#<%= pull_request.repository_pull_request_index %> opened <%= time_ago_in_words(pull_request.created_at) %> ago </p>
            </div>
          </div>
        </div>
        <% end %>
      <% else %>
        <div class="text-center p-5">
          <h3>There aren’t any open pull requests.</h3>
          <h4>Try to create new pull requests?</h4>
        </div>
      <% end %>
    </div>

</div>
