<div class="pull-request public">
  
    <div>
      <%= render "shared/repo_navbar"%>
    </div>

    <div class="row col-12 sele">
      <form class="form-inline my-2 my-lg-0 col-10 issue-show repo-search">
        <input
          class="form-control mr-sm-2 col-12 "
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
      <%= link_to_if @pull_request_able.any?, "New pull request", compare_repository_pull_requests_path , class:"btn btn-success col-2"%>
    </div>

    <div class=" my-5">
      <div class="issue-title row p-2 open">
        <div class="status-title col-3"><%= @pull_requests.length %> open</div>
        <div class="description-title col-4">title</div>
      </div>
      <% if @pull_requests.any? %>
        <% @pull_requests.each do |pull_request| %>
        <div class="container">
          <div class="row the-tr">
            <div class="col-3 mt-2"><%= pull_request.status%></div>
            <div class="col-4 row"> 
            <%= link_to pull_request.name,repository_pull_request_path(id: pull_request.id),class:"col-12 id" %>        
              <p class="col-10 ago">#<%= pull_request.repository_pull_request_index %> opened <%= time_ago_in_words(pull_request.created_at) %> ago </p>
            </div>
            <div class="col-4"><%= pull_request.description %></div>
          </div>
        </div>
        <% end %>
      <% else %>
        <div class="text-center p-5">
          <h3>There aren’t any open pull requests.</h3>
          <h4>Try to create new pull requests?</h4>
        </div>
      <% end %>
    </div>

</div>
