<div>
  <%= render "shared/repo_navbar"%>
</div>

<% if @pull_request.errors.any? %>
  <ul>
    <%  @pull_request.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(([:repository,  @pull_request]) , method: 'post') do |form|%>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <h1>#<%= @pull_request.repository_pull_request_index %></h1>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %> 

<% @commits.each do |commit|%>
  <%= commit.message %>
  <%= commit.sha %>
  <%= commit.committer.name %>
<% end %>