<div>
  <%= render "shared/repo_navbar"%>
</div>

<% if @pull_request.errors.any? %>
  <ul>
    <%  @pull_request.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(([:repository,  @pull_request]) , method: 'post') do |form|%>

  <div class="field">
    <h1><%= form.label :name %>#<%= @pull_request.repository_pull_request_index %></h1>
    <%= form.text_field :name, class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class:"form-control" %>
  </div>

  <h1>
    這裡是放 file_change 的地方
  </h1>

  <% @commits.each do |commit|%>
    <div class="container">
      <div class="row"> 
        <div class="col-12">
          <%= commit.committer.name %>
        </div>
        <div class="col-1">
          <i class="fas fa-dot-circle"></i>
        </div>
        <div class="col-6">
          <%= commit.message %>
        </div>
        <div class="col-3">
          <%= time_ago_in_words(commit.date.utc) %>
        </div>
        <div class="col-2">
          <%= commit.sha[0..7] %>
        </div>
      </div>
    </div>
  <% end %>

  <%= hidden_field_tag :branch, params[:branch] %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %> 