<div class="base-branch">  

  <div>
    <%= render "shared/repo_navbar"%>
  </div>

  <div class="container">
    <div id = "pr_new_branch">
      <div class="row">
        <div class="p-class">
          <p id = "base_branch"> Base branch: <%= @base_branch %> </p> 
        </div>
        <i class="fas fa-arrow-left"></i>
        <div class="p-class">
          <p id = "compare_branch"> Compare branch: <%= @compare_branch %> <p>
        </div>
      </div>
    </div>
  </div>   

  <% if @pull_request.errors.any? %>
    <ul>
      <%  @pull_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="branch-new comment-edit-container">
    <%= form_for(([:repository,  @pull_request]) , method: 'post') do |form|%>
      <%= hidden_field_tag :base_branch, @base_branch %>
      <%= hidden_field_tag :compare_branch, @compare_branch %>

      <div class="comment-info-container">
        <div class="card">
          <div class="newbranch card-header">
            <div class="row">
              <div class="pr-new-name col-12">
                <%= form.text_field :name, class: "form-control"%>
              </div>       
            </div>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <div class="media">
                <div class="media-body">
                  <%= form.text_area :description, class: "area form-control"%>             
                </div>
              </div>
            </blockquote>
            <div class="pr_create_group row">
              <div class="pr_create actions">            
                <%= form.submit "create pull request", class: "btn btn-success" %>
              </div>            
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="timeline-group mt-5 col-12 mx-auto">
      <% @commits.each do |commit|%>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="timeline list-group list-group-flush">
                <li>
                  <div class="row list-item title">
                    <p><%= commit.committer.name %></p>
                    <p><%= time_ago_in_words(commit.date.utc) %> ago</p>
                  </div>
                  <div class="row list-item number">
                    <p><%= commit.message %></p>
                    <p><%= commit.sha[0..7] %></p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="commit-line"></div>

    <div class="change-file">
      <%= hidden_field_tag :diff, @pull_request.diff %>
      <%= render "diff_content", diff: @pull_request.diff %>
    </div>

  <% end %> 
</div>