<div>
  <%= render "shared/repo_navbar"%>
</div>

<div class="row">
  <div class="col-12">
    <% if @pull_request.status == "open" %>
      <span class="btn btn-success"><%= @pull_request.status %></span>
    <% elsif @pull_request.status == "Merged"%>
      <span class="btn btn-primary"><%= @pull_request.status%></span>
    <% else %>
      <span class="btn btn-danger"><%= @pull_request.status%></span>
    <% end %>
    <span><%= @pull_request.name %></span>
  </div>
  <div class="mx-3"><%= current_user.name %> want to merge <%= @commits.count %> commit into <%= link_to @pull_request.base_branch, checkout_path(find_user.name, id: current_repository.title, branch: @pull_request.base_branch)%> from <%= link_to @pull_request.compare_branch, checkout_path(find_user.name, id: current_repository.title, branch: @pull_request.compare_branch) %> </div>
</div>

<%= render "shared/pull_request_bar"%>

<%= @have_conflicts %>

<p>
  <strong>Description:</strong>
  <%= to_markdown(@pull_request.description)%>
</p>

<% @commits.each do |commit|%>
  <div class="container">
    <div class="row"> 
      <div class="col-12">
        <%= commit.committer.name %>
      </div>
      <div class="col-1">
        <i class="fas fa-dot-circle"></i>
      </div>
      <div class="col-6">
        <%= commit.message %>
      </div>
      <div class="col-3">
        <%= time_ago_in_words(commit.date.utc) %>
      </div>
      <div class="col-2">
        <%= commit.sha[0..7] %>
      </div>
    </div>
  </div>
<% end %>





<% @comments.each do |c| %>

  <div class="comment-info-container">
    <h4><%= c.user.name %></h4>
    <h4><%= to_markdown(c.content)%></h4>
    <h6><%= time_ago_in_words(c.created_at) %> ago </h6>

    <% if c.user == current_user %>
      <div><%= link_to "delete", repository_pull_request_comment_path(user_name: c.user.name, repository_id: current_repository.title , pull_request_id: @pull_request, id: c), class: "btn btn-danger comment-delete-button", data: {method: "DELETE", confirm: "Are you sure you want to delete?"} %></div>
      <div class="btn btn-primary comment-edit-button">Edit</div>
    <% end %>
  </div>

  <div class="comment-edit-container" style="display: none;">
    <%= form_with(model: c, url: repository_pull_request_comment_path(user_name: c.user.name, repository_id: current_repository.title , pull_request_id: @pull_request, id: c), method: "PUT") do |f| %>

      <% if c.errors.any? %>
        <ul>
          <% c.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= f.label :content, class: "m-0"%>
      <%= f.text_field :content, class: "form-control"%>

      <div class="actions">
        <%= f.submit "Update comment", class: "btn btn-success" %>
      </div>
      <div class="btn btn-danger comment-cancel-button">
        Cancel
      </div>
    <% end %>
  </div>
<% end %>
  

<div class="comment-new-container">
  <%= form_with(model: @comment, url: repository_pull_request_comments_path(pull_request_id: @pull_request), local: true, method: "POST") do |f|%>

    <% if @comment.errors.any? %>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <%= f.label :content, class: "m-0"%>
    <%= f.text_field :content, class: "form-control"%>

    <div class="actions">
      <%= f.submit "Create comment", class: "btn btn-success" %>
    </div>
  <% end %>
</div>



<%= link_to 'Edit', edit_repository_pull_request_path(id: @pull_request.id) %> |
<%= link_to 'Back', repository_pull_requests_path %> | 

<div class="status-container">
  <% if @pull_request.status == 'Open' && @have_conflicts == false %>
    <%= link_to 'Merge pull request', merge_repository_pull_request_path(user_name: find_user.name, repository_id: current_repository.title, id: @pull_request), class: 'btn btn-success', method: 'POST' %>
    <%= link_to "Close pull request", close_repository_pull_request_path(user_name: find_user.name, repository_id: current_repository.title, id: @pull_request), class: 'btn btn-danger', method: 'POST'%>
  <% elsif @pull_request.status == 'Open' && @have_conflicts %>
    <div class="btn btn-danger">Have conflict</div>
    <%= link_to "Close pull request", close_repository_pull_request_path(user_name: find_user.name, repository_id: current_repository.title, id: @pull_request), class: 'btn btn-danger', method: 'POST'%>
  <% elsif @pull_request.status == 'Merged' %>
    <div class="btn btn-primary">This pull request has been merged.</div>
  <% else %>
    <%= link_to "Reopen pull request", reopen_repository_pull_request_path(user_name: find_user.name, repository_id: current_repository.title, id: @pull_request), class: 'btn btn-success', method: 'POST'%>
  <% end %>
</div>