<div>
  <%= render "shared/repo_navbar"%>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @pull_request.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pull_request.description %>
</p>

  <% @comments.each do |c| %>
    <h2><%= c.user.name %></h2>
    <h3><%= c.content %></h3>
    <% if c.user == current_user %>
      <div><%= link_to "delete", repository_pull_request_comment_path(user_name: c.user.name, repository_id: current_repository.title , pull_request_id: @pull_request,id: c), data: {method: "DELETE", confirm: "Are you sure you want to delete?"} %></div>
    <% end %>
  <% end %>

<%= form_with(model: @comment, url: repository_pull_request_comments_path(pull_request_id: @pull_request), local: true, method: "POST") do |f|%>
  <% if @comment.errors.any? %>
    <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.label :content, class: "m-0"%>
  <%= f.text_field :content, class: "form-control"%>

  <div class="actions">
    <%= f.submit "Create comment", class: "btn btn-success" %>
  </div>
<% end %>



<%= link_to 'Edit', edit_repository_pull_request_path(id: @pull_request.id) %> |
<%= link_to 'Back', repository_pull_requests_path %> | 