<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %><span class="notice1"></span>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password",class: "form-control" %><span class="notice2"></span>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" %><span class="notice3"></span>
  </div>

  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name,class: "form-control" %><span class="notice4"></span>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary submitFrom"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>