<div class="issue-show public">
  <div>
    <%= render "shared/repo_navbar"%>
  </div>
  <br/>
  <div class="row"> 
    <form class="form-inline my-2 my-lg-0 col-10 repo-search">
      <%= form_tag repository_issues_path, method: :get do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search issues" , class:"issue-search col-12" %>
      <% end %>
    </form>

      <%= link_to "New issue",new_repository_issue_path , class:"btn btn-success col-2 "%>
    </div>
    <div class="issue-container my-5">
      <div class="issue-title row col-12 open">
        <div class="status-title col-4">
        <%= @issues.length %> Records</div>
         <div class="open-and-close col-6 status-title">
          <i class="fas fa-lock-open"></i> <%= link_to  'Open', repository_issues_path(user_name: find_user.name,
                                                      repository_id: current_repository.title,
                                                      "status" => "open"), class:"distance issue-name" %> <%= " |  " %>
          <i class="fas fa-lock"></i> <%= link_to  'Close', repository_issues_path(user_name: find_user.name,
                                                      repository_id: current_repository.title,
                                                      "status" => "close"),class:"distance issue-name" %>
         </div>
        </div>
      <% if @issues.length > 0 %>
        <% @issues.each do |issue| %>
          <div class="container item">
            <div class="row issue-content">
              <div class="col-4 mt-3 open-colse"><%= issue.status%></div>
              <div class="row col-6"> 
                <%= link_to issue.name, repository_issue_path(id: issue.id),class:"col-12 issue-name" %>        
                <p class="col-12 ago">#<%= issue.repository_issue_index %> opened <%= time_ago_in_words(issue.created_at) %> ago </p>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="text-center p-5">
          <h3>There isn’t any open issue.</h3>
          <h4>Try to create a new issue?</h4>
        </div>
      <% end %>
    </div>

    <nav aria-label="Page navigation example" class="pageA" >
      <ul class="pagination">
        <%= paginate @issues, window: 2, class: "pagination-contant" %>
      </ul>
    </nav>

</div>
