<div>
  <%= render "shared/repo_navbar"%>
</div>
</br>

<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @issue.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>


<%= link_to 'Update', edit_repository_issue_path(current_user.name, Repository.find(@issue.repository_id).title) %> |
<%= link_to 'Back', repositories_path %> |
<%= link_to 'Close'%> 
