<div>
  <%= render "shared/repo_navbar"%>
</div>
<br/>

<div class="container">
  <div class="row">
    <div class="issue-group col-10">
      <p id="notice"><%= notice %></p>
      <p>
        <h1><%= @issue.name %></h1>
      </p>
    </div>

    <button type="button" class="btn btn-secondary" id="edit-btn">
    </button>
  </div>
</div>

<div class="container mt-5 mb-5 ml-4 col-10">
<div class="card">
  <div class="card-header">
    Developer
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <div class="media">
        <img src="https://picsum.photos/60/60?random=1" class="mr-3" alt="...">
        <div class="media-body">
          <%= @issue.description %>
        </div>
      </div>
    </blockquote>
  </div>
</div>


<div class="row">
  <div class="col-10 offset">
    <ul class="timeline">
      <li>
        <a target="_blank" href="https://www.totoprayogo.com/#">Developer</a>
        <a href="#" class="float-right"></a>
        <p>added this to 待處理 To Do in FengChenShowGit  22 hours ago</p>
      </li>
      <li>
        <a href="#">Developer</a>
        <a href="#" class="float-right"></a>
        <p>moved this from 待處理 To Do to 處理中 In Progress in FengChenShowGit 17 hours ago</p>
      </li>
      <li>
        <a href="#">Developer</a>
        <a href="#" class="float-right"></a>
        <p>moved this from 處理中 In Progress to 完成待驗收 in FengChenShowGit 16 hours ago</p>
      </li>
    </ul>
  </div>
</div>

<div class="card">
    <div class="card-header">
      Developer
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="media">
          <img src="https://picsum.photos/60/60?random=2" class="mr-3" alt="...">
          <div class="media-body">
            Ok .
          </div>
        </div>
      </blockquote>
    </div>
  </div>

  <div class="text-area-container">
    <div class="form-group">
      <label for="exampleFormControlTextarea2">Small textarea</label>
      <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
      <button type="button" class="btn btn-secondary">
        <%=link_to @issue.toggle_status, toggle_status_repository_issue_path %> 
      </button>
      <button type="button" class="btn btn-secondary">
        <%=link_to "comment" %> 
      </button>
    </div>
  </div>

<% @comments.each do |c| %>

  <div class="comment-info-container">
    <h4><%= c.user.name %></h4>
    <h4><%= c.content %></h4>
    <h6><%= time_ago_in_words(c.created_at) %> ago </h6>

    <% if c.user == current_user %>
      <div><%= link_to "delete", repository_issue_comment_path(user_name: c.user.name, repository_id: current_repository.title , issue_id: @issue, id: c), class: "btn btn-danger comment-delete-button", data: {method: "DELETE", confirm: "Are you sure you want to delete?"} %></div>
      <div class="btn btn-primary comment-edit-button">Edit</div>
    <% end %>
  </div>

  <div class="comment-edit-container" style="display: none;">
    <%= form_with(model: c, url: repository_issue_comment_path(user_name: c.user.name, repository_id: current_repository.title , issue_id: @issue, id: c), method: "PUT") do |f| %>

      <% if c.errors.any? %>
        <ul>
          <% c.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= f.label :content, class: "m-0"%>
      <%= f.text_field :content, class: "form-control"%>

      <div class="actions">
        <%= f.submit "Update comment", class: "btn btn-success" %>
      </div>
      <div class="btn btn-danger comment-cancel-button">
        Cancel
      </div>
    <% end %>
  </div>
<% end %>
  

<div class="comment-new-container">
  <%= form_with(model: @comment, url: repository_issue_comments_path(issue_id: @issue), local: true, method: "POST") do |f|%>

    <% if @comment.errors.any? %>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <%= f.label :content, class: "m-0"%>
    <%= f.text_field :content, class: "form-control"%>

    <div class="actions">
      <%= f.submit "Create comment", class: "btn btn-success" %>
    </div>
  <% end %>
</div>
