<div>
  <%= render "shared/repo_navbar"%>
</div>
<br/>

<div class="container">
  <div class="row">
    <div class="issue-title col-10 ">
      <div class="issue_name_inactive ">
        <h1><%= @issue.name %></h1>
      </div>
      <%= form_for([:repository, @issue],remote: true) do |form|%>
      <div class= "issue_name_active"><h4><%= form.text_field :name%></h4></div> 
    </div>   
    <div class ="issue_button col-2">
      <%= form.button "update", id: "issue_update", class: "btn btn-secondary", type: "submit"%>
      <button id = "issue_edit" class="issue_edit btn btn-secondary">Edit</button>   
      <% end %> 
    </div>
  </div>
</div>

<div class="container mt-5 mb-5 ml-4 col-10 ">
<div class="issue_description comment-info-container card">
  <div class="card-header issue-comment-name">
    <button type="button" class="btn btn-sm dropdown-toggle dropdown-toggle-split comment-more" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>   
    <div class ="issue_description_button dropdown-menu">
      <div id = "issue_description_edit" class="btn">Edit</div>  
    </div>
    <h4>Developer</h4>
    <div class="bottom-line"></div> 
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <div class="media">
        <img src="https://picsum.photos/60/60?random=1" class="mr-3" alt="...">
        <div class="media-body">
          <div class="row">
            <div class="col-12">
              <div class="issue_description_inactive">
                <p><%= @issue.description %></p>  
              </div>
              <%= form_for([:repository, @issue],remote: true) do |form|%>
              <div class= "issue_description_active"><p><%= form.text_area :description ,type: "text_area" %></p></div> 
              <h6><%= time_ago_in_words(@issue.created_at) %>ago</h6>
            </div>   
          </div>
        </div>
      </div>
    </blockquote>
    <div class="issue-comment-edit  row">
      <div class="update-comment actions">            
        <%= form.button "Update-comment", id: "issue_description_update", class: "btn btn-secondary", type: "submit"%> 
        <% end %>
      </div>
      <div class="btn btn-danger developer-comment-cancel-btn">
        Cancel
      </div>
    </div>
        
  </div>
</div>


  
<% @comments.each do |c| %>

  <div class="comment-info-container">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="issue-comment-name col-12">
            <h4><%= c.user.name %></h4>
            <div class="bottom-line"></div> 
          </div>       
          <div class="btn-group">
            <% if c.user == current_user %>
              <button type="button" class="btn btn-sm dropdown-toggle dropdown-toggle-split comment-more" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <div><%= link_to "Delete", repository_issue_comment_path(user_name: c.user.name, repository_id: current_repository.title , issue_id: @issue, id: c), class: "btn comment-delete-button", data: {method: "DELETE", confirm: "Are you sure you want to delete?"} %></div>
                <div class="btn comment-edit-button">Edit</div>
              </div>
            <% end %>       
          </div>
        </div>      
      </div>

      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <div class="media">
            <img src="https://picsum.photos/60/60?random=2" class="mr-3" alt="...">
            <div class="media-body">
              <p><%= c.content%></p>
              <h6><%= time_ago_in_words(c.created_at) %>ago</h6>
            </div>
          </div>
        </blockquote>
      </div>
        
    </div>
  </div>

  <div class="comment-edit-container" style="display: none;">
    <%= form_with(model: c, url: repository_issue_comment_path(user_name: c.user.name, repository_id: current_repository.title , issue_id: @issue, id: c), method: "PUT") do |f| %>

      <% if c.errors.any? %>
        <ul>
          <% c.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>


      <div class="comment-info-container">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="issue-comment-name col-12">
                <h4><%= c.user.name %></h4>
                <div class="bottom-line"></div> 
              </div>       
            </div>

          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <div class="media">
                <img src="https://picsum.photos/60/60?random=2" class="mr-3" alt="...">
                <div class="media-body">
                  <h6>
                    <%= f.text_area :content, class: "area form-control"%>
                  </h6>
                  <h6><%= time_ago_in_words(c.created_at) %> ago </h6>
                </div>
              </div>
            </blockquote>
            <div class="issue-comment-edit row">
              <div class="update-comment actions">            
                <%= f.submit "Update comment", class: "btn btn-success" %>
              </div>
              <div class="btn btn-danger comment-cancel-button">
                Cancel
              </div>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
  

<div class="comment-new-container">
  <%= form_with(model: @comment, url: repository_issue_comments_path(issue_id: @issue), local: true, method: "POST") do |f|%>

    <% if @comment.errors.any? %>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    

    <div class="actions text-area-container">
      <div class="form-group">
        <%= f.label :content, class: "m-0"%>
        <%= f.text_area :content, class: "area form-control"%>
        <div class="issue-comment-btn row">
          <button type="button" class="issue-status-change btn btn-secondary">
            <%=link_to @issue.toggle_status, toggle_status_repository_issue_path %> 
          </button> 
          <%= f.submit "Create comment", class: "comment-submit btn btn-success" %>         
        </div>
      </div>
    </div>
  <% end %>
</div>
