<div class="enjoy">
  <div class="container my-5">
    <div class="row">
      <div class="user-info-container col-12 col-md-3">
      <div class="avatar-wrap">
        <% if current_user.image? %>
            <%= image_tag(current_user.image_url) %>
        <% else %>
            <img src="https://images.plurk.com/43tXxZ1MP3bwW7lyZbunAy.png">
        <% end %>
      </div>
        <h4 class="my-2">NAME：<%= find_user.name %></h4>
        <h4 class="my-2">ID：<%= find_user.id %></h4>
      </div>
      <div class="repositories-container col-12 col-md-9 row p-3">
        <div class="repositories-title col-12">
          <ul class="nav">
            <li class="nav-item">
              <%= link_to "Overview", logged_in_path(user_name: find_user.name), class: "nav-link"%>
            </li>
            <li class="nav-item mx-3">
              <%= link_to "Repositories", repositories_path, class: "nav-link" %>
            </li>
            <li class="nav-item mx-3">
              <%= link_to "Following", relationships_path(user_name: find_user.name), class: "nav-link" %>
            </li>
            <li class="nav-item mx-3">
              <%= link_to "Followers", followers_path(user_name: find_user.name), class: "nav-link" %>
            </li>
            <li>
              <%= link_to "Stars", likes_path(user_name: find_user.name), class: "nav-link" %>
            </li>
          </ul>
        </div>
        <div class="title-bottom-line"></div>
        <div class="col-12">
          <form class="form-inline my-3 lg-0">
            <input class="form-control mr-sm-2 col-9" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
        <div class="col-12">
          <% @followers.each do |user|%>
            <h4> 
              <%= link_to "#{ user.name}", logged_in_path(user_name: user.name)%>
            </h4>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

