<div class="likes-star public">

      <div class="container my-5">
        <div class="row">
          <div class="user-info-container col-12 col-md-3">
          <div class="avatar-wrap">
            <% if find_user.image? %>
                <%= image_tag(find_user.image_url) %>
            <% else %>
                <img src="https://images.plurk.com/43tXxZ1MP3bwW7lyZbunAy.png">
            <% end %>
          </div>
            <h4 class="my-2 user-name">Name：<%= find_user.name%></h4>
            <h4 class="my-2 user-id">ID：<%= find_user.id%></h4>
          </div>
          <div class="repositories-container col-12 col-md-9 row p-3">
            <div class="repositories-title col-12">
              <ul class="nav">
                <li class="nav-item">
                  <%= link_to "Overview", logged_in_path(user_name: find_user.name), class: "nav-link"%>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to "Repositories", repositories_path, class: "nav-link" %>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to "Following", relationships_path(user_name: find_user.name), class: "nav-link" %>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to "Followers", followers_path(user_name: find_user.name), class: "nav-link" %>
                </li>
                <li>
                  <%= link_to "Stars", likes_path(user_name: find_user.name), class: "nav-link the-bottom" %>
                </li>
              </ul>
              <div class="line">
                <div class="title-bottom-line"></div>
              </div>
            </div>
            <div class="title-bottom-line"></div>
            <h3 class="col-12 my-3">Like repositories</h3>
              <% @liked_repositories.each do |repo| %>
                <div class="col-12">
                  <h2>Owner: <%= repo.user.name %></h2>
                  <h4><%= link_to repo.title, repository_path(user_name: repo.user.name, id: repo.title) %></h4>
                </div>
              <% end %>
          </div>
        </div>
      </div>
</div>