  <div class="thisIsNavBar">
    <nav class="navbar navbar-expand-lg navbar-light">
  
      <%= link_to "", root_path, class: "navbar-brand"%>

      <button
        class="navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <% if current_user%>
                <li class="nav-item active">
                   <form class="form-inline my-2 my-lg-0">
                        <input
                          class="form-control mr-sm-2"
                          type="search"
                          placeholder="Search"
                          aria-label="Search"
                        />
                        <button class="btn btn-outline my-2 my-sm-0 .btn_search" type="submit"><i class="fas fa-pen"></i>
                        </button>
                   </form>
                </li>
                <li class="nav-item">
                  <%= link_to "Top", root_path, class: "nav-link"%> 
                </li>
                <li class="nav-item">
                  <%= link_to "New repository", new_repository_path(current_user.name), class: "nav-link"%>
                </li>
                 <li class="nav-item">
                  <%= link_to "My repositories", repositories_path(current_user.name), class: "nav-link"%>
                </li>
              </ul>
              <ul class="ul-inline my-2 my-lg-0 ">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="avatarsmall">
                      <% if @user.image? %>
                        <%= image_tag(@user.image_url) %>
                      <% else %>
                        <img src="https://images.plurk.com/445Ndlyr43rlc9GZ8cBzZv.png">
                      <% end %>
                      <%#= image_tag(current_user.image_url) if current_user.image? %>
                      <!-- <img src="https://images.plurk.com/6XtoEdMzzfp1Jq6GIZPjgw.jpg"> -->
                    </div>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to "User Settings", edit_user_registration_path, class: "dropdown-item user_set"%>
                    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item user_set"%>
                  </div>
                </li>
              </ul>


          <% else %>
            <li class="nav-item sp">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "Sign in", new_user_session_path, class: "nav-link"%>
            </li>
          <% end %>   
      </div>

    </nav>
    
  </div> 
