<div class="repo-navbar public">
  
  <div class="id-name">
    <h2 class="userId"><%= find_user.name %></h2> 
    <h2 class="fileName"><%=  current_repository.title %></h2>
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">

    <li class="nav-item">
      <%= link_to repository_path(id: current_repository), class: "nav-link bottomline" , ariaselected:"false" do %>
        <i class="fas fa-code"></i><span> Code</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to repository_issues_path(repository_id: current_repository), class: "nav-link" , ariaselected:"true" do %>
        <i class="fas fa-exclamation-circle"></i><span> Issues <%= current_repository.issues.count %></span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to repository_pull_requests_path(repository_id: current_repository), class: "nav-link" do %>
        <i class="fas fa-code-branch"></i><span> Pull requests <%= current_repository.pull_requests.count %></span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to edit_repository_path(id: current_repository), class: "nav-link" do %>
        <i class="fas fa-cog"></i><span> Setting</span>
      <% end %>
    </li>
    <% if current_user.liked_repositories.find_by(id: current_repository.id).nil? %>
      <li class="nav-item ml-auto">
        <%= link_to repository_likes_path(repository_id: current_repository, is_show: true), class: "nav-link", method: "POST" do %>
          <i class="far fa-star"></i><span> <%= current_repository.likes.count %> Star </span>
        <% end %>
      </li>
    <% else %>
      <li class="nav-item ml-auto">
        <%= link_to repository_like_path(repository_id: current_repository.title, id: current_user.liked_repositories.find_by(id: current_repository.id)), class: "nav-link", method: "DELETE" do %>
          <i class="fas fa-star"></i><span>  <%= current_repository.likes.count %> Unstar </span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>





