<div class="repo_navbar">
  <div class="id_name">
    <i class="fas fa-book"></i>
    <h2 class="userId"><%= find_user.name %></h2> 
    <h2 class="fileName"><%=  current_repository.title %></h2>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <%= link_to repository_path(id: current_repository), class: "nav-link" , ariaselected:"false" do %>
       <i class="fas fa-code"></i><span> Code</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to repository_issues_path(repository_id: current_repository), class: "nav-link" , ariaselected:"true" do %>
       <i class="fas fa-exclamation-circle"></i><span> Issues</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to repository_pull_requests_path(repository_id: current_repository), class: "nav-link" do %>
        <i class="fas fa-code-branch"></i><span> Pull requests</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to edit_repository_path(id: current_repository), class: "nav-link" do %>
        <i class="fas fa-cog"></i><span> Setting</span>
      <% end %>
    </li>
  </ul>
</div>





