<div class="user-index public">
      <div class="container my-5">
        <div class="row">
          <div class="user-info-container col-12 col-md-3">
            <div class="avatar-wrap">
              <% if find_user.image? %>
                  <%= image_tag(find_user.image_url) %>
              <% else %>
                  <img src="https://images.plurk.com/43tXxZ1MP3bwW7lyZbunAy.png">
              <% end %>
            </div>
            <h4 class="my-2 user-name"><i class="far fa-smile"></i> NAME：<%= find_user.name%></h4>
            <p class="my-2 user-id">ID：<%= find_user.id%></p>
          </div>
          <div class="repositories-container col-12 col-md-9 row p-3">
            <div class="repositories-title col-12">
              <ul class="nav">
                <li class="nav-item mx-3">
                  <%= link_to "Overview", logged_in_path(user_name: find_user.name), class: "nav-link"%>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to "Repositories", repositories_path, class: "nav-link" %>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to "Following", relationships_path(user_name: find_user.name), class: "nav-link" %>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to "Followers", followers_path(user_name: find_user.name), class: "nav-link" %>
                <li>
                  <%= link_to "Stars", likes_path(user_name: find_user.name), class: "nav-link" %>
                </li>
              </ul>
              <div class="line">
                <div class="title-bottom-line"></div>
              </div>
            </div>
            <h3 class="col-12 my-3 popu"><i class="fas fa-award"></i> Popular repositories</h3>
            <% @repositories.each do |repo|%>
              <div class="p-3 col-6">
                <div class="overview-repository-wrap p-5 project-block">
                  <h4>
                    <%= link_to "#{repo.title}", repository_path(id: repo)%>
                  </h4>
                  <div>
                    Create <%= time_ago_in_words(repo.created_at) %> ago
                  </div>
                </div>
              </div>
            <% end %>
          <div class="green-wrap col-12">
            <div class="green_spots">
              <h2>這裡是留給綠點點的位置</h2>
            </div>
          </div>
          <h2 class="col-12">Other users</h2>
            <% @users.each do |user| %>
              <div class="col-12 p-3">
                <div class="overview-user-wrap col-12">
                  <h2>
                    <%= link_to "another user:#{user.name}", logged_in_path(user_name: user.name)%>
                  </h2>
                  <% if user.passive_relationships.select{|follower| current_user.active_relationships.include?(follower)}.blank?  %>
                    <h2>
                      <%= link_to "Follow", relationships_path(user_name: user.name), method: "POST" %>
                    </h2>
                  <% else %>
                    <h2>
                      <%= link_to "Unfollow", relationship_path(user_name: user.name, id: user.passive_relationships.select{|follower| current_user.active_relationships.include?(follower)}.first.id), method: "DELETE" %>
                    </h2>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
</div>