<div class="thisIsUsresIndex">
      <div class="container my-5">
        <div class="row">
          <div class="user-info-container col-12 col-md-3">
            <div class="avatar-wrap">
              <img class="w-100" src="https://picsum.photos/400/400?random=1" alt="">
            </div>
            <h4 class="my-2">NAME：<%= find_user.name%></h4>
            <h4 class="my-2">ID：<%= find_user.id%></h4>
          </div>
          <div class="repositories-container col-12 col-md-9 row p-3">
            <div class="repositories-title col-12">
              <ul class="nav">
                <li class="nav-item">
                  <%= link_to "Overview", logged_in_path(user_name: find_user.name), class: "nav-link"%>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to "Repositories", repositories_path, class: "nav-link" %>
                </li>
              </ul>
            </div>
            <div class="title-bottom-line"></div>
            <h3 class="col-12 my-3">Popular repositories</h3>
            <% @repositories.each do |repo|%>
              <div class="p-3 col-6">
                <div class="overview-repository-wrap p-5">
                  <h2>
                    <%= link_to "#{repo.title}", repository_path(id: repo)%>
                  </h2>
                  <div>
                    <%= repo.created_at%>
                  </div>
                </div>
              </div>
            <% end %>
          <div class="green-wrap col-12">
            <div class="green_spots">
              <h2>這裡是留給綠點點的位置</h2>
            </div>
          </div>
          <h2 class="col-12">Other users</h2>
            <% @users.each do |user| %>
              <div class="col-12 p-3">
                <div class="overview-user-wrap col-12">
                  <h2>
                    <%= link_to "another user:#{user.name}", logged_in_path(user_name: user.name)%>
                  </h2>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
</div>