<!DOCTYPE html>
<html>
  <head>
    <title>Nagit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p></p>
    <p class="alight"><%= alert %></p></p>
    <%= yield %>
  </body>
</html>
